/*background-color:#f9f9f9;
	font-size:16px
	color:#444;
	font-family: sans-serif;
}
 
.content{
	width: 80%;
	margin: 10px auto;
}*/
 
/*header*/
/*header{
	background-color: white;
	padding: 20px 10px;
	border-radius: 5px;
	border: 1px solid #f0f0f0;
	margin-bottom: 10px;
}
 
header h1.judul,
header h3.deskripsi{
	text-align: center;	
}*/
 
/*menu navigasi*/
/*.menu{
	background-color: #87CEFA;
	border: 1px solid #f0f0f0;
	border-radius: 8px;	
	margin-bottom: 10px;
}
 
div.menu ul {
	list-style:none;
	overflow: hidden;
}
 
 
div.menu ul li {
	float:left;		
	text-transform:uppercase;
}
 
div.menu ul li a {
	display:block;	
	padding:0 20px;
	text-decoration:none;
	color:#2c2c2c;
	font-family: sans-serif;
	font-size:13px;
	font-weight:400;
	transition:all 0.3s ease-in-out;
}
 
div.menu ul li a:hover,
div.menu ul li a.hoverover {	
	cursor: pointer;	
	color:#fff;
}
 
 
div.badan{
	background-color: white;
	border-radius: 5px;
	border: 1px solid #f0f0f0;
	margin-bottom: 10px;
}
 
div.halaman{
	text-align: center;
	padding: 30px 20px;	
}*/

h2{
    font-family: serif;
    text-align: center;
}
.form_login{
    width: 30%;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 1px rgba(57, 62, 70, 0.4);
    border-radius: 8px;
    align-items: center;
    padding: 10px;
    transform: translate(-50%,-50%);
    position: absolute;
    left: 50%;
    top: 50%;
    color: #000000;
    display: block;
}
.in {
    width: 99%;
    height: 30px;
    border-radius: 3px;
    margin-bottom: 10px;
    border: none;
    background-color: rgba(0,0,0,0);
    border-bottom: 2px solid #E8713C;
}
#btnLogin {
    width: 100px;
    height: 40px;
    background-color: #E8713C;
    color: #eeeeee;
    box-shadow: 0px 0px 10px 1px rgba(57, 62, 70, 0.4);
    border-radius: 8px;
    border: none;
    transform: translate(-50%);
    left: 50%;
    position: absolute;
    margin-top: 10px
}
.in::-webkit-input-placeholder{
    color: #000000;
}
.masuk{
  background-color: #E8713C;
  border: none;
}
.x{
  background-image: url(bootstrap4/icons/x.svg) ; 
  background-size: 100%; 
  width:40px; 
  height:40px; 
  border:none;
  /*position: absolute;*/
  right: 10px;
  top: 10px;
  position: fixed;
  background-color: white;
}

/* Untuk desktop: */
@media only screen and (min-width: 450px) {
  /*.col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }*/

  /*.navbar{
  list-style-type: none;
  background-color: cyan;
  width: 80%;
  
  }*/
  .badan{
    height: 400px;
    margin-top: 20px;
    /*margin-right: ;*/
  }
  .badan .kiri{
    background-color: #FCECB8;
    float: left;
    width: 20%;
    height: 100%;
    /*margin: 3px;*/
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;


  }
  .badan .kanan{
    /*background-color: yellow;*/
    float: right;
    width: 75%;
    height: 100%;
    align-content: center;
    margin-left: 10px;
    /*vertical-align: middle;*/


  }
  .badan .kanan .artikel{
    background-color: #FCECB8;
    margin: 10px;
    width: 80%;
    border-radius: 10px;
    /*height: fit-content;*/
    /*justify-self: center;*/
  }

  footer{
    text-align: center; 
    margin: 0 auto; 
    margin-top: 10px; 
    margin-bottom: 10px
  }
  .footer_line{
    background: #E8713C; 
    height: 2px; 
    margin: 0 auto; 
    width: 70%; 
    margin-top: 20px;

  }
  .artikel{
    background-color: #FCECB8;
    margin: 20px;
    border-radius: 10px;

  }
  
}

/* untuk handphone: */
@media only screen and (max-width: 450px) {
  /*.col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }*/

}